<div class="w-full max-w-7xl p-4 mx-auto">
  <form class="fieldset bg-my-light rounded-box p-6 grid grid-cols-1 md:grid-cols-2 gap-4"
    (ngSubmit)="onSubmit()">
  
    <fieldset class="fieldset flex flex-col">  
      <div class="relative group overflow-hidden rounded-md shadow-lg">
        <figure class="aspect-7/10">
          <img 
            [ngSrc]="formData().cover_image ?? 'images/without_cover.webp'" 
            [alt]="'Portada del libro'"
            fill
            priority
            class="w-full h-full object-cover"
          />
        </figure>

        @if (formData().cover_image) {
          <div class="absolute inset-0 bg-linear-to-b from-black/70 via-transparent to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <div class="absolute top-4 right-4">
              <app-button-component [icon]="'delete'" [textBtn]="'Eliminar'" (clicked)="onDeleteImage(editionModel()?.id_edition ?? 0)"/>
            </div>
          </div>
        }
      </div>

      @if (!formData().cover_image) {
        <span class="label font-semibold">Cargar Portada del Libro</span>

        <label class="file-input-wrapper cursor-pointer flex items-center gap-2 border rounded px-4 py-3 bg-white hover:bg-gray-100">
          <span class="font-bold text-">Elegir Imagen</span>
          <input 
            type="file" class="hidden" accept="image/*" 
            (change)="onChangeImages($event)">
        </label>
        
        <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>  
      }
    </fieldset>
  
    <div>
      <div class="py-4 text-my-purple">
        <p>ID Libro: {{ editionModel()?.book_id }}</p>
        <p>ID Edición: {{ editionModel()?.id_edition }}</p>
        <p>{{ editionModel()?.created_at | date:'yyyy-MM-dd HH:mm:ss' }} - Fecha creación</p>
        <p>{{ editionModel()?.updated_at | date:'yyyy-MM-dd HH:mm:ss' }} - Fecha modificacion</p>
      </div>

      <fieldset class="fieldset">
        <label for="editionInput" class="label font-semibold mb-1">Edición: (1ra Edición; 2da Edición... 5ta Edición)</label>
        <input
          [disabled]="isLoading()"
          #titleEdition
          id="editionInput"
          type="text" class="input validator w-full" placeholder="Edición del Libro"
          [value]="formData().edition"
          (input)="updateEdition($any($event.target).value, titleEdition)"
        />
        <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
      </fieldset>

      <fieldset class="fieldset">
        <label for="isbnInput" class="label font-semibold mb-1">ISBN</label>
        <input
          [disabled]="isLoading()"
          #isbnInput
          id="isbnInput"
          type="text" class="input validator w-full uppercase" placeholder="Código isbn"
          [value]="formData().isbn"
          (input)="updateISBN($any($event.target).value, isbnInput)"
        />
        <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
      </fieldset>

      <div class="flex gap-x-4 flex-wrap">
        <fieldset class="fieldset">
          <label for="pagesInput" class="label font-semibold mb-1">Paginas</label>
          <input
            [disabled]="isLoading()"
            #pagesInput
            id="pagesInput"
            type="text" class="input validator max-w-20" placeholder="Paginas" required
            [value]="formData().pages"
            (input)="updatePages($any($event.target).value, pagesInput)"
          />
          <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
        </fieldset>   
  
        <fieldset class="fieldset">
          <label for="yearInput" class="label font-semibold mb-1">Año de publicación</label>
          <input
            [disabled]="isLoading()"
            #yearInput
            id="yearInput"
            type="text" class="input validator max-w-20" placeholder="Año" required
            [value]="formData().publication_year"
            (input)="updateYear($any($event.target).value, yearInput)"
          />
          <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
        </fieldset>

        <fieldset class="fieldset">
          <span class="label font-semibold mb-1">Editorial</span>
          <div class="flex gap-2">
            <app-editorial-select-components 
              [selectedId]="formData().editorial_id" 
              (newSelectedId)="updateEditorial($event)" 
            /> 
            <app-button-component [icon]="'create'" (clicked)="onNavigateToEditorial()"/>
          </div>
        </fieldset>
      </div>

      <div>
        <div class="divider text-base-content/40">Formatos</div>
        <span class="label font-semibold">Seleccionar Formato/s</span>
        <div class="my-2 flex gap-2">
          <app-format-select-component 
            class="flex-1" 
            [clearTrigger]="formatClearTrigger()"
            (newSelectedFormat)="addFormat($event)"
          />
          <app-button-component [icon]="'create'" (clicked)="onNavigateToFormat()"/>
        </div>
        <app-format-selected-list-component 
          [formatList]="formFormat()" 
          (deleteFormat)="deleteFormat($event)"
        />
      </div>
    </div>

    <div>
      @if (errorMessage()) {
        <app-message-error-component [message]="errorMessage()"/>
      }
  
      @if (isLoading()) {
        <app-loading-component/>
      } @else {
        <app-button-component [icon]="'save'" [textBtn]="editionModel()?.id_edition === 0 ? 'Crear Edición' : 'Modificar Edición'" (clicked)="onSubmit()" />
      }
    </div>
  </form>
</div>
