<section class="bg-my-light border-base-300 rounded-box border p-6 shadow-xl">
  <section class="flex justify-between">
    <div>
      <h3 class="card-title text-xl text-my-purple">Registrar Devolucion</h3>
      <p class="text-sm text-base-content/60">Recepcionar Préstamo para Devolución</p>
    </div>
    
    <app-button-component
      [icon]="'clear'"
      (clicked)="clear.emit()"
    />
  </section>

  <div class="divider text-base-content/40 max-w-7xl mx-auto">Buscar Préstamo</div>

  <app-search-codbar-component
    [disabled]="!!loanDetailModel()"
    [clearTrigger]="clearTrigger()"  
    [textTitle]="'Código de Barra de la Copia'"
    [isLoading]="isLoading()"
    (submitted)="onEnterBookBarcode($event)"
  />

  <app-loan-detail-component
    [loanDetailModel]="loanDetailModel()"
  />

  @if (loanDetailModel()) {
    <div class="pt-2 flex justify-center">
      @if (isLoading()) {
        <app-loading-component/>
      } @else {
        <app-button-component
          [icon]="'save'"
          [textBtn]="'Registrar Devolución'"
          (clicked)="onReturnLoan()"
        />
      }
    </div>
  }

  @if (errorMessage()) {
    <div class="pt-4">
      <app-message-error-component [message]="errorMessage()" />
    </div>
  }
</section>
