<dialog class="modal modal-bottom modal-open sm:modal-middle">
  <div class="modal-box overflow-visible grid">

    <h3 class="card-title text-xl text-my-purple font-bold">{{ copy() ? 'Modificar': 'Crear' }} Copia</h3>
    <div class="py-4">
      <p class="text-sm text-base-content/60">ID: {{ copy()?.id_copy }}</p>
      <p class="text-sm text-base-content/60">{{ copy()?.created_at | date:'yyyy-MM-dd HH:mm:ss' }} - Fecha Creación</p>
      <p class="text-sm text-base-content/60">{{ copy()?.updated_at | date:'yyyy-MM-dd HH:mm:ss' }} - Fecha Modificación</p>  
    </div>
  
    @if (errorMessage()) {
      <app-message-error-component [message]="errorMessage()"/>
    }

    <form class="grid grid-cols-1" (ngSubmit)="onSubmit()">
      <fieldset class="fieldset">
        <span class="label font-semibold mb-1">Estado:</span>
        <app-copy-status-select-components
          [selectedId]="formData().status_id"
          (newSelectedId)="updateStatus($event)"
        />
      </fieldset>
      
      <fieldset class="fieldset">
        <label for="signatureInput" class="label font-semibold mb-1">Firma Topografica:</label>
        <input
          #signatureInput
          id="signatureInput"
          type="text" class="input validator w-full" placeholder="Firma" required 
          [disabled]="isSaving()"
          [value]="formData().signature_topography"
          (input)="updateTopography($any($event.target).value, signatureInput)"
        />
        <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
        <app-button-component [icon]="'help'"[textBtn]="'Como Generar Firma'" (clicked)="openHelpModal()" />
      </fieldset> 

      <fieldset class="fieldset">
        <label for="copynumberInput" class="label font-semibold mb-1">N° de Copia:</label>
        <input
          #copynumberInput
          id="copynumberInput"
          type="text" class="input validator w-full" placeholder="0" required 
          [disabled]="isSaving()"
          [value]="formData().copy_number"
          (input)="updateCopyNumber($any($event.target).value, copynumberInput)"
        />
        <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
      </fieldset>         
      
      <div class="justify-self-end flex gap-2 items-center pt-4">
        @if (isSaving()) {
          <app-loading-component/>
        } @else {
          <app-button-component [icon]="'save'" [textBtn]="'Guardar'" (clicked)="onSubmit()" />
          <app-button-component [icon]="'cancel'" [textBtn]="'Cancelar'" (clicked)="cancelForm.emit()" />
        }
      </div>
    </form>
    
  </div>
</dialog>

@if (showHelpModal()) {
  <app-signature-manual-components (closeHelpModal)="closeHelpModal()"/>
}