<div class="stats shadow w-full bg-my-light">
  @if (isLoading()) {
    <div class="stat">
      <div class="p-2 m-auto">
        <app-loading-component/>
      </div>
    </div>
  } @else {
    <div class="stat">
      <div class="stat-title">Libros Prestados</div>
      <div class="stat-value text-my-green">{{ computedStats()?.total_borrowed ?? 0 }}</div>
    </div>
    <div class="stat">
      <div class="stat-title">Libros en Prestamo</div>
      <div class="stat-value text-my-purple">{{ computedStats()?.active_loans ?? 0 }}</div>
    </div>
    <div class="stat">
      <div class="stat-title">Libros Atrasados</div>
      <div class="stat-value text-my-pink">{{ computedStats()?.overdue_loans ?? 0 }}</div>
    </div>
  }
</div>