<app-section-header-component
  [title]="heading()"
  [actionText]="'Volver a Libro'"
  (actionClicked)="navigateBack()"
/>

<app-edition-form-components 
  [heading]="heading()"
  [isLoading]="isLoading() || edition.isSaving()"
  [editionModel]="edition.data()"
  (deleteImage)="deleteImage($event)"
  (formSubmit)="submitEditionForm($event)"
  (navigateToEditorial)="navigateToEditorial()"
  (navigateToFormat)="navigateToFormat()"
/>

@if (editionId()) {
  <app-copy-list-for-edition-components
    [isLoading]="copy.isLoading()"
    [copyList]="copy.dataList()"
    (refresh)="onReloadCopy()"
    (create)="onCreateCopy()"
    (edit)="onEditCopy($event)"
    (delete)="onDeleteCopy($event)"
  />
}

@if (copy.showForm()) {
  <app-copy-form-components
    [isSaving]="copy.isSaving()"
    [copy]="copy.selectedItem()"
    (cancelForm)="copy.showForm.set(false)"
    (submitForm)="submitCopyForm($event)"
  />
}
