<div class="bg-my-light pt-12 pb-12 p-4 text-center">
  <h2 class="text-3xl font-bold text-my-purple tracking-tight">Historial</h2>
  <p class="text-my-dark mt-2">Talleres de velas, de papelería, caja del tiempo y actividades varias.</p>
</div>

<section class="p-4 max-w-7xl mx-auto">
  @if (loading()) {
    <div class="flex justify-center items-center">
      <span class="loading loading-spinner loading-lg bg-my-green"></span>
    </div>
  } @else {
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

      @for (news of news(); track news.id) {
          <app-news-card-component [news]="news" />
      }

    </div>
  } 
</section>