<section class="bg-my-light p-6">
  <div class="max-w-7xl mx-auto grid gap-4">

    <div>
      <h2 class="text-3xl font-bold text-my-purple tracking-tight">{{ textTitle() ?? 'Sin textTitle' }}</h2>
      <p class="mt-2">{{ textDescription() ?? 'Sin Descripción' }}</p>  
    </div>
  
    <div class="flex gap-2">
      <label class="input flex-1 min-w-0 focus-within:border-my-green focus-within:outline-none">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </g>
        </svg>
        
        <input type="search" class="grow" 
          [placeholder]="searchPlaceholder()"
          [value]="searchText()"
          (input)="onSearchChange($event)"
          (search)="onSearchChange($event)" />        
      </label>

      <label class="flex-1 min-w-0">
        <select
          class="select select-bordered w-full"
          [value]="limit()"
          (change)="onLimitSelect($event)">
          @for (option of limitOptions(); track option) {
            <option [value]="option">Filtrar por {{ option }} libros</option>
          }
        </select>
      </label>
    </div>
  
    <section class="flex gap-4 flex-wrap items-end">
      <app-author-select-component 
        [clearTrigger]="clearTrigger()"
        (selectedItem)="selectedAuthor.emit($event)" />
      
      <app-format-select-component
        [clearTrigger]="clearTrigger()" 
        (selectedItem)="selectedFormat.emit($event)" />
      
      <app-subject-select-component 
        [clearTrigger]="clearTrigger()"
        (selectedItem)="selectedSubject.emit($event)" />
        
      <app-editorial-select-component 
        [clearTrigger]="clearTrigger()"
        (selectedItem)="selectedEditorial.emit($event)" />

      <app-genre-select-component 
        [clearTrigger]="clearTrigger()"
        (selectedItem)="selectedGenre.emit($event)" />
            
      <div class="ml-auto">
        <button 
          class="btn border-0 text-my-purple"
          (click)="onClear()">
          
          Limpiar
        </button>
      </div>
    </section>  

  </div>
</section>