<div class="modal modal-open" role="dialog">
  <div class="modal-box bg-my-light grid gap-2">
    <h3 class="text-lg font-bold text-my-pink">Etiqueta</h3>

    <div>
      <app-button-component [icon]="'download'" [textBtn]="'Descarga'" (clicked)="downloadLabel()" />
      <section class="border-2 grid justify-center">
        <img [src]="labelUrl()" alt="Etiqueta" class="mx-auto" />
      </section>
    </div>
    
    <div>
      <app-button-component [icon]="'download'" [textBtn]="'Descarga'" (clicked)="downloadCombined()" />
      <section class="border-2 grid justify-center">
        <img [src]="combinedUrl()" alt="Combinada" class="mx-auto" />
      </section>
    </div>
  
    <div>
      <app-button-component [icon]="'download'" [textBtn]="'Descarga'" (clicked)="downloadRow()" />
      <section class="border-2 grid justify-center">
        <img [src]="rowUrl()" alt="Fila" class="mx-auto" />
      </section>
    </div>
    
    <div class="modal-action">
      <app-button-component [icon]="'cancel'" [textBtn]="'Cerrar'" (click)="closeModal.emit()" />
    </div>
    
  </div>
</div>