<dialog class="modal modal-bottom modal-open sm:modal-middle">
  <div class="modal-box overflow-visible grid">

    <h3 class="card-title text-xl text-my-purple font-bold">{{ actionText() }}</h3>
    <div class="py-4">
      <p class="text-sm text-base-content/60">ID: {{ genre()?.id_genre }}</p>
      <p class="text-sm text-base-content/60">{{ genre()?.created_at | date:'yyyy-MM-dd HH:mm:ss' }} - Fecha Creación</p>
      <p class="text-sm text-base-content/60">{{ genre()?.updated_at | date:'yyyy-MM-dd HH:mm:ss' }} - Fecha Modificación</p>
    </div>

    <form class="grid grid-cols-1 gap-4">
      <fieldset class="fieldset">
        <label for="nameInput" class="label font-semibold mb-1">Nombre del Género:</label>
        <input
          #nameInput
          id="nameInput"
          type="text" class="input validator w-full" placeholder="Nombre..." required
          [disabled]="isLoading()"
          [value]="formData().name"
          (input)="updateName($any($event.target).value, nameInput)"
        />
        <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
      </fieldset>

      <div class="justify-self-end flex gap-2 items-center">
        @if (isLoading()) {
          <app-loading-component/>
        } @else {
          <app-button-component [icon]="'save'" [textBtn]="actionText()" (clicked)="onSaveClick()" />
          <app-button-component [icon]="'cancel'" [textBtn]="'Cancelar'" (clicked)="cancelForm.emit()" />
        }
      </div>
    </form>

  </div>
</dialog>