<div
  class="hero min-h-screen"
  style="background-image: url(/images/banner.webp);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Bienvenido</h1>
      <p class="mb-5">
        A la biblioteca de Wallmapu de Mesana. Aquí podrás encontrar una gran variedad de libros para leer y cultivar tu mente.
      </p>
      
      <app-auth-button-component />
    </div>
  </div>
</div>