<section class="p-4 grid grid-cols-1 gap-4">
  <div class="bg-my-light rounded-md text-my-dark shadow-xl overflow-x-auto">
    <header class="p-6 pb-2 flex justify-between flex-wrap gap-4">
      <div>
        <h2 class="font-bold text-my-purple text-lg">
          Gestión de Copias
        </h2>
        <p class="text-sm text-my-dark/50">
          Lista de Copias por Edición
        </p>
      </div>

      <div class="flex gap-2 items-center">
        <app-button-component [icon]="'refresh'" textBtn="Refrescar" (clicked)="refresh.emit()" />
        <app-button-component [icon]="'create'" textBtn="Crear Copia" (clicked)="create.emit()" />
      </div>
    </header>

    <div class="overflow-x-auto">
      @if (isLoading()) {
        <div class="p-4 flex justify-center">
          <app-loading-component/>
        </div>
      } @else {
        <table class="table w-full text-center py-4">
          <thead class="uppercase">
            <tr>
              <th>Id Copia</th>
              <th>Firma / Nro. Copia</th>
              <th>Estado</th>
              <th>Creación / Modificación</th>
              <th>Acciones</th>
            </tr>
          </thead>

          <tbody class="[&>tr>td]:align-middle">
            @for (item of copyList(); track item.id_copy) {
              <tr class="hover:bg-my-purple/10 text-my-purple">
                <td>{{ item.id_copy }}</td>
                <td>
                  <div>{{ item.signature_topography }}</div>
                  <div class="font-bold">Copia N°: {{ item.copy_number }}</div>
                </td>
                <td class="text-my-light">
                  @if (item?.status_id === 1) {
                    <div class="bg-my-purple p-1">
                      {{ item.status_name }}                      
                    </div>
                  } @else {
                    <div class="bg-my-pink p-1">
                      {{ item.status_name }}
                    </div>
                  }
                </td>
                <td>
                  <div>{{ item.created_at | date:'yyyy-MM-dd hh:mm:ss' }}</div>
                  <div>{{ item.updated_at | date:'yyyy-MM-dd hh:mm:ss' }}</div>
                </td>
                <td class="flex justify-center gap-2">
                  <app-button-component [icon]="'barcode'" (clicked)="onSelectedBarcode(item.barcode)" />
                  <app-button-component [icon]="'edit'" (clicked)="edit.emit(item)" />
                  <app-button-component [icon]="'delete'" (clicked)="delete.emit(item)" />
                </td>
              </tr>
            }
          </tbody>
        </table>
      }
    </div>
  </div>
</section>

@if (openModal()) {
  <app-modal-barcode-label-component 
    [barcode]="selectedBarcode()"
    (closeModal)="openModal.set(false)"
  />
}
