<app-section-header-component
  [title]="'Perfil'"
/>

<section class="p-4 grid grid-cols-1 gap-4">
  <app-user-profile-component
    [authUser]="authUser()"
    [userDetailModel]="userDetailComputed()"
    (editProfile)="onNavigateToEdit()"
  />

  <div class="text-my-purple flex justify-end pt-4">
    <app-notification-bell-component [textUnreadCount]="unreadCount()" />
  </div>

  <app-notification-list-component
    [isLoading]="notification.isLoading()"
    [isUser]="true"
    [notificationList]="notification.dataList()"
    [currentPage]="currentPage()"
    [totalPages]="totalPages()"
    [showOnlyUnread]="showOnlyUnread()"
    (reload)="reload()"
    (markAsRead)="onMarkAsRead($event)"
    (markAllAsRead)="onMarkAllAsRead()"
    (filterNotRead)="onFilterNotRead($event)"
    (nextPage)="nextPage()"
    (prevPage)="prevPage()"
  />
</section>