<section class="bg-my-light border-base-300 rounded-box border p-6 shadow-xl">
  <section class="flex justify-between">
    <div>
      <h3 class="card-title text-xl text-my-purple">Registrar Préstamo</h3>
      <p class="text-sm text-base-content/60">Convertir reserva a préstamo</p>
    </div>
    
    <app-button-component
      [icon]="'clear'"
      (clicked)="clear.emit()"
    />
  </section>

  <div class="divider text-base-content/40 max-w-7xl mx-auto">Buscar Reserva</div>

  <app-search-codbar-component 
    [disabled]="!!reservationDetail()"
    [clearTrigger]="clearTrigger()"
    [textTitle]="'Código de Barra de la Reserva'"
    [isLoading]="isLoading()"
    (submitted)="onSearchReservation($event)"
  />

  <app-reservation-detail-component 
    [reservationModel]="reservationDetail()"
  />

  @if (reservationDetail()) {
    <div class="divider text-base-content/40 max-w-7xl mx-auto my-2">Confirmar Libro</div>

    <app-search-codbar-component 
      [disabled]="disabledInput()"
      [clearTrigger]="clearTrigger()"
      [textTitle]="'Código de Barra del Libro'"
      [isLoading]="isLoading()"
      (submitted)="onEnterBookBarCode($event)"
    />
  }

  @if (disabledInput()) {
    <div class="pt-2 flex justify-center">
      <app-button-component
        [icon]="'save'"
        [textBtn]="'Registrar Préstamo'"
        (clicked)="handleReservationToLoan()"
      />
    </div>
  }

  @if (errorMessage()) {
    <div class="pt-4">
      <app-message-error-component [message]="errorMessage()" />
    </div>
  }
</section>