<div class="w-full max-w-7xl p-4 mx-auto">
  <form class="fieldset bg-my-light rounded-box p-6 grid grid-cols-1 md:grid-cols-2 gap-4"
  (ngSubmit)="formSubmit()">
  
    <div>
      <fieldset class="fieldset">
        <label for="titleInput" class="label font-semibold mb-1">Título</label>
        <input
          #titleInput 
          id="titleInput"
          type="text" class="input validator w-full" placeholder="Nombre del Libro" required 
          [value]="formData().title"
          (input)="updateTitle($any($event.target).value, titleInput)"
        />
        <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
      </fieldset>

      <fieldset class="fieldset flex flex-col">
        <span class="label font-semibold">Género</span>
        <div class="flex gap-2">
          <app-genre-select-component class="flex-1" [selectedId]="formData().genre_id" (selectedItem)="updateGenre($event)" />
          <app-button-component [icon]="'create'" (clicked)="navigateToGenre.emit()"/>
        </div>
        <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
      </fieldset>

      <p class="pt-6 text-my-purple">
        - ID: {{ book()?.id_book }}
      </p>
      <p class="text-my-purple">
        {{ book()?.created_at | date:'yyyy-MM-dd HH:mm:ss' }} - Fecha de Creación
      </p>
      <p class="text-my-purple">
        {{ book()?.updated_at| date:'yyyy-MM-dd HH:mm:ss' }} - Fecha de Modificación:
      </p>
    </div>

    <fieldset class="fieldset flex flex-col">
      <label for="summaryInput" class="label font-semibold">Descripción / Resumen / Reseña</label>
      <textarea 
        #summaryInput
        id="summaryInput"
        class="textarea validator mt-2 w-full min-h-72" placeholder="Descripción/Resumen del libro" required
        [value]="formData().summary"
        (input)="updateSummary($any($event.target).value, summaryInput)"
      ></textarea>
      <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
    </fieldset>

    <div>
      <div class="divider text-base-content/40">Autores</div>
      <span class="label font-semibold">Seleccionar Autor/es</span>
      <div class="my-2 flex gap-2">
        <app-author-select-component 
          class="flex-1" 
          [clearTrigger]="AuthorSubjectClearTrigger()"
          (selectedItem)="addAuthor($event)" />
        <app-button-component [icon]="'create'" (clicked)="navigateToAuthor.emit()"/>
      </div>
      <app-author-selected-list-component 
        [authorList]="formAuthors()" 
        (delete)="onDeleteAuthor($event)" />
    </div>

    <div>
      <div class="divider text-base-content/40">Descriptores</div>
      <span class="label font-semibold">Descriptor/es</span>
      <div class="my-2 flex gap-2">
        <app-subject-select-component 
          class="flex-1" 
          [clearTrigger]="AuthorSubjectClearTrigger()"
          (selectedItem)="addSubject($event)" />
        <app-button-component [icon]="'create'" (clicked)="navigateToSubject.emit()"/>
      </div>
      <app-subject-selected-list-component 
        [subjectList]="formSubjects()" 
        (delete)="onDeleteSubject($event)" />
    </div>

    @if (errorMessage()) {
      <div class="my-4">
        <app-message-error-component [message]="errorMessage()"/>
      </div>
    }

    @if (isLoading()) {
      <app-loading-component/>
    } @else {
      <div>
        <app-button-component [icon]="'save'" [textBtn]="actionText()" (clicked)="formSubmit()" />
      </div>
    }
  </form>
</div>
