<div class="flex gap-8 flex-wrap px-4 py-8 mx-auto justify-center max-w-7xl">
  @if (loading()) {
    <span class="loading loading-spinner loading-lg"></span>
  } @else {
    @for (book of books(); track book.id) {
      <article 
        [routerLink]="['/library/book', book.id]"
        class="group w-56 bg-my-light shadow-sm cursor-pointer shadow-my-light hover:shadow-2xl transition-all duration-300 rounded-2xl"
      >
        <figure class="relative overflow-hidden h-80 w-56 rounded-t-2xl">
          <img
            fill
            class="w-full h-full object-cover transform group-hover:scale-103 transition-transform duration-500 borde"
            [ngSrc]="'/images/test/' + book.coverImageUrl"
            [alt]="book.title" />
        </figure>
        <div class="text-center p-2">
          <h2 class="card-title justify-center text-my-green">{{ book.title }}</h2>
          <p class="text-sm text-my-dark/50">{{ book.author }}</p>
        </div>
      </article>
    }
  }  
</div>  