/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
};

@theme {
  --color-my-green: #00897B;
  --color-my-pink: #D81B60;
  --color-my-yellow: #FDD835;
  --color-my-dark: #1A1A1A;
  --color-my-light: #F8F9FA;
  --color-my-purple: #4A148C;
}

html {
  scroll-behavior: smooth;
}

/* Chrome, Safari */
body::-webkit-scrollbar{
  display: none !important;
}

html::-webkit-scrollbar{
  display: none !important;
}

/* Para Firefox */
body {
  scrollbar-width: none !important; 
}

html {
  scrollbar-width: none !important; 
}