<section class="min-h-dvh bg-linear-to-b from-my-green/60 from-0% via-my-light via-25% to-my-light/60">
  
  @if (loading()) {
    <div class="pt-48">
      <app-loading-component />
    </div>
  } @else {
    @if (newsResult().isSuccess) {
      <div class="container mx-auto px-4 pb-4 pt-20 max-w-4xl">
        <!-- Tarjeta principal de la noticia -->
        <app-news-details-component [news]="newsResult().result!" />

        <!-- Separador -->
        <div class="divider my-12 text-base-content/40">Galería de Imágenes</div>

        <!-- Galería de imágenes -->
        <app-news-gallery-component [newsGalleryList]="newsResult().result?.images ?? []" />
      </div>
    } @else {
      <div class="pt-48">
        <app-message-error-component [message]="newsResult().message" />
      </div>
    }
  }
  
</section>
